@charset 'UTF-8';
html,
body {
  background-color: #fff;
  height: 100%;
  width: 100%;
}
.mm_search {
  margin-bottom: 0;
}
.mm_footer {
  background-color: #f1f1f1;
}
.mm_main {
  background: #fff;
  overflow: hidden;
}
.mm_main .product_nav {
  padding: 0 0.25rem /* 10/40 */;
  height: 1rem /* 40/40 */;
  background-image: linear-gradient(#fff, #ebebeb);
  line-height: 1rem /* 40/40 */;
  border: 1px solid #ccc;
}
.mm_main .product_nav a {
  color: #000;
  font-size: 0.35rem /* 14/40 */;
}
.mm_main .hot {
  font-size: 16px;
  color: #874604;
  width: 100%;
  padding: 0.25rem /* 10/40 */;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #eee;
}
.mm_main .product_list ul li {
  padding: 0.25rem /* 10/40 */ 0;
  padding-left: 0.25rem /* 10/40 */;
  border-bottom: 1px solid #ccc;
  position: relative;
  padding-right: 0.25rem /* 10/40 */;
}
.mm_main .product_list ul li i {
  float: left;
  background: #c9c9c9;
  text-align: center;
  width: 20px;
  height: 0.5rem /* 20/40 */;
  color: #fff;
}
.mm_main .product_list ul li .info {
  margin-left: 0.75rem /* 30/40 */;
}
.mm_main .product_list ul li .info h4 {
  font-weight: normal;
  font-size: 0.4rem /* 16/40 */;
}
.mm_main .product_list ul li .info p {
  margin: 0;
}
.mm_main .product_list ul li span {
  position: absolute;
  color: #666;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.mm_main .product_list ul li:nth-child(1) i {
  background: red;
}
.mm_main .product_list ul li:nth-child(2) i {
  background: #ff9314;
}
.mm_main .product_list ul li:nth-child(3) i {
  background: #8adf5b;
}
.mm_main .high .title {
  font-size: 0.35rem /* 14/40 */;
  padding-left: 0.25rem /* 10/40 */;
  line-height: 0.9rem /* 36/40 */;
  border: 1px solid #ccc;
  color: #874604;
  background: #f1f1f1;
}
.mm_main .high .list ul li {
  padding: 0.25rem /* 10/40 */;
  border-bottom: 1px solid #ccc;
}
.mm_main .high .list ul li a {
  display: block;
}
.mm_main .high .list ul li a .img {
  float: left;
  width: 2.75rem /* 110/40 */;
  text-align: center;
}
.mm_main .high .list ul li a .img img {
  width: 2.5rem /* 100/40 */;
  height: 2.5rem /* 100/40 */;
}
.mm_main .high .list ul li a .info {
  margin-left: 3.125rem /* 125/40 */;
}
.mm_main .high .list ul li a .info h3 {
  font-weight: normal;
  font-size: 0.35rem /* 14/40 */;
  height: 1.1rem /* 44/40 */;
}
.mm_main .high .list ul li a .info .price span {
  color: #ea3900;
  font-size: 0.5rem /* 20/40 */;
}
.mm_main .high .list ul li a .info .price span.star em {
  color: #ea3900;
  font-size: 0.5rem /* 20/40 */;
}
.mm_main .comment .title {
  font-size: 0.35rem /* 14/40 */;
  padding-left: 0.25rem /* 10/40 */;
  line-height: 0.9rem /* 36/40 */;
  border: 1px solid #ccc;
  color: #874604;
  background: #f1f1f1;
}
.mm_main .comment .comList ul li {
  padding: 0.25rem /* 10/40 */;
  border-bottom: 1px solid #ccc;
}
.mm_main .comment .comList ul li a {
  display: block;
}
.mm_main .comment .comList ul li a .img {
  float: left;
  width: 2.75rem /* 110/40 */;
  text-align: center;
}
.mm_main .comment .comList ul li a .img img {
  width: 2.5rem /* 100/40 */;
  height: 2.5rem /* 100/40 */;
}
.mm_main .comment .comList ul li a .info {
  margin-left: 3.125rem /* 125/40 */;
}
.mm_main .comment .comList ul li a .info h3 {
  font-weight: normal;
  font-size: 0.35rem /* 14/40 */;
  height: 1.1rem /* 44/40 */;
}
.mm_main .comment .comList ul li .box {
  background: #f8f8f8;
  border: 1px solid #ccc;
  padding: 0.25rem /* 10/40 */;
  position: relative;
}
.mm_main .comment .comList ul li .box .name {
  font-size: 0.35rem /* 14/40 */;
  color: #666;
  margin-bottom: 0.25rem /* 10/40 */;
}
.mm_main .comment .comList ul li .box .name span.star em {
  color: #ea3900;
  font-size: 0.5rem /* 20/40 */;
}
.mm_main .comment .comList ul li .box .content {
  font-size: 0.4rem /* 16/40 */;
  line-height: 22px;
  color: #000;
}
.mm_main .comment .comList ul li .box i {
  width: 0;
  height: 0;
  position: absolute;
  top: -0.5rem /* 20/40 */;
  left: 1.25rem /* 50/40 */;
  /*  border-style: solid;
                            border-width: 20px;
                            border-color: transparent;*/
  border: 0.25rem /* 10/40 */ solid #fff;
  border-bottom-color: #f8f8f8;
  /*border-color: greenyellow hotpink skyblue yellowgreen;*/
}
