@charset 'UTF-8';
.mm_main {
  background: #fff;
  overflow: hidden;
}
.mm_main .product_nav {
  padding: 0 0.25rem /* 10/40 */;
  height: 1rem /* 40/40 */;
  background-image: linear-gradient(#fff, #ebebeb);
  line-height: 1rem /* 40/40 */;
  border: 1px solid #ccc;
}
.mm_main .product_nav a {
  color: #000;
  font-size: 0.35rem /* 14/40 */;
}
.mm_main .product_nav .select {
  display: block;
  height: 0.75rem /* 30/40 */;
  width: 1.5rem /* 60/40 */;
  background-image: linear-gradient(#d0d0d0, #f5f5f5);
  line-height: 0.75rem /* 30/40 */;
  text-align: center;
  border-radius: 0.125rem /* 5/40 */;
  margin-top: 0.125rem /* 5/40 */;
}
.mm_main .product_desc {
  position: relative;
  padding: 0.375rem /* 15/40 */;
}
.mm_main .product_desc .name {
  text-align: center;
  font-size: 0.45rem /* 18/40 */;
  margin: 0 auto;
  width: 100%;
  height: 5rem /* 200/40 */;
}
.mm_main .product_desc .img img {
  display: block;
  height: 4.25rem /* 170/40 */;
  margin: 0 auto;
}
.mm_main .product_desc .collect {
  position: absolute;
  bottom: 0;
  right: 0.75rem /* 30/40 */;
}
.mm_main .product_desc .collect img {
  width: 1rem /* 40/40 */;
  height: 1rem /* 40/40 */;
}
.mm_main .product_tab {
  width: 100%;
  height: 0.875rem /* 35/40 */;
  line-height: 0.875rem /* 35/40 */;
  font-size: 0.375rem /* 15/40 */;
  background-image: linear-gradient(to right, #ffa632, #ffbb00);
  border-top: 1px solid #c14d00;
  border-bottom: 1px solid #c14d00;
}
.mm_main .product_tab ul {
  width: 100%;
}
.mm_main .product_tab ul li {
  float: left;
  border-right: 1px solid #c14d00;
  text-align: center;
  height: 0.875rem /* 35/40 */;
  width: 33.333%;
}
.mm_main .product_buy {
  height: 1.2rem /* 48/40 */;
  line-height: 1.2rem /* 48/40 */;
  padding-left: 0.5rem /* 20/40 */;
  position: relative;
}
.mm_main .product_buy a {
  font-size: 0.4rem /* 16/40 */;
  color: #333;
}
.mm_main .product_buy .go {
  position: absolute;
  right: 0;
  font-size: 0.35rem /* 14/40 */;
  color: #fff;
  width: 1.375rem /* 55/40 */;
  height: 0.625rem /* 25/40 */;
  border-radius: 3px;
  background: #ff5500;
  text-align: center;
  top: 0.25rem /* 10/40 */;
  line-height: 0.625rem /* 25/40 */;
}
.mm_main .product_buy .yuan {
  margin-left: 7.5rem /* 300/40 */;
  color: red;
}
.mm_main .product_note {
  height: 1rem /* 40/40 */;
  font-size: 0.3rem /* 12/40 */;
  line-height: 1rem /* 40/40 */;
  text-indent: 0.25rem /* 10/40 */;
  color: #666;
  border-top: 1px solid #ccc;
}
.mm_main .product_com_title {
  height: 0.95rem /* 38/40 */;
  line-height: 0.95rem /* 38/40 */;
  border-top: 3px solid #7A7A7A;
  text-align: center;
  background: #DBDBDB;
}
.mm_main .product_com_list li {
  color: #666;
  padding: 0.25rem /* 10/40 */;
  padding-bottom: 0px;
  line-height: 0.375rem /* 15/40 */;
  margin-top: 3px;
  border-bottom: 1px solid #ccc;
}
.mm_main .product_com_list li p {
  font-size: 12px;
}
.mm_main .product_com_list li .com_content {
  color: #000;
  line-height: 0.55rem /* 22/40 */;
  font-size: 12px;
}
.mm_main .product_com_more {
  padding: 0.375rem /* 15/40 */ 0.2rem /* 8/40 */ 0.625rem /* 25/40 */;
}
.mm_main .product_com_more a {
  display: block;
  width: 100%;
  height: 0.85rem /* 34/40 */;
  background-image: linear-gradient(#f1f1f1, #d4d4d4);
  font-size: 0.35rem /* 14/40 */;
  text-align: center;
  line-height: 0.85rem /* 34/40 */;
  border-radius: 3px;
}
